.slider {
    position: relative;
}

.slider__banner {
    width: 100%;  
}

@media screen and (max-width: 768px ){
    .logo {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .logo {
        display: none;
    }
}
