footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--color-primary);
    margin: 4rem 0 1rem 0;
    padding: 3rem 0 1rem 0;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
    } 
}

@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        display: flex;
        flex-direction: column;
    }  
}