.formulario__login-contenedor {
    background-color: #83f3a9;
    width: 340px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.formulario__login {
    display: flex;
    flex-direction: column;
}

.formulario_login-formulario form{
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

input:focus {
    border: 1px solid #006a43;
    outline: none;
}

.boton {
    background-color: #006a43;
    color: #ffffff;
    border-radius: 15px;
    border: 0.5px solid #006a43;
    padding: 0.75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    
}

.boton:hover{
    background-color: #005a53;
    transform: scale(1.05);
}